<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <div class="card text-dark bg-light mb-3" id="<%= dom_id user %>" style="max-width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= link_to user.name, user %></h5>
        <p class="card-text"><p><%= user.email %></p></p>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "New user", new_user_path %>
